@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.container {
   max-width: 1210px;
   margin: 0 auto;
   padding: 0 20px;
}


body {





    // MAIN 



    .contact_box {
        margin-top: 92px;
        display: flex;
        gap: 10px;

    }

    .contact_control_stil {
        display: flex;
        flex-direction: column;
        // align-items: center;
        justify-content: center;
        gap: 16px;
        
    }

    .contact_control_stil_img img {
        background-repeat: no-repeat;
        background-size: cover;
    }

    .contact_control_stil_img{
        width: 170px;
        height: 138px;
        top: 323px;
        padding: 12px 25px 12px 24px;
        gap: 0px;
        border-radius: 4px 0px 0px 0px;
        background: #F5F5F5;


    }

    .contact_control {
        width: 500px;
        height: 600px;
        top: 323px;
        left: 335px;
        padding: 154px 27px 131px 27px;
        gap: 0px;
        border-radius: 4px 0px 0px 0px;
        background: #F5F5F5;

    }

    .contact_information h1 {
        font-size: 24px;
        font-weight: 600;
        line-height: 24px;
        letter-spacing: 0.03em;
    }

    .star {
        display: flex;
        align-items: center;
        margin: 16px 0;
        gap: 10px;
        span{
            color: gray;
        }
        p{
            color: #00FF66 ;
        }
    }

    .inf

}